@{
    Layout = null;
    var seriesTitle = "The Amazing Spider-Man";
    var issueNumber = 700;
    var description = "<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like <strong> Aldus PageMaker </strong> including versions of Lorem Ipsum.</p>";
    var artists = new string[]
    {
        "Script: Dan Slott",
        "Pencils: Humberto Ramos",
        "Inks: Victor Olazaba",
        "Colours: Edgar Delgado",
        "Letters: Chris Eliopoulos"
    };
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Comic Books details</title>
</head>
<body>
    <div>
        <h1>@seriesTitle</h1>
        <h2>Issue #@issueNumber</h2>

        <h5>Description:</h5>
        <div>@Html.Raw(description)</div>

        <h5>Artist</h5>
        <div>@artists</div>
    </div>
</body>
</html>
